.iconbtn{
 color: #f5f5f5;
 background-color: #1F305E;
 padding-left: 1.3rem;
 padding-top: 0.3rem;
 font-size: 1rem;
 font-weight: bolder;
}
.iconbtn:hover{
  background-color:#120A8F;
  cursor: pointer;
}
.searchfield{
  height: 1.5rem;
  width: 80%;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-left: 1rem;
  padding-left: 0.5rem;
}
